* {
    user-select: none;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    &&::selection {
        background-color: #fe0000;
    }

}

.container {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    width: 95vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 20px;
}

.toggle-button {
    margin: -20px 0px 0px 0px;
    padding: 12px;
    background: #061f34;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;

}

.toggle-button-2 {
    margin-top: 10px;
    padding: 12px;
    background: #061f34;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;

}

.toggle-button:hover {
    background: #02424e;
    transform: scale(1.05);
}

.toggle-button:focus {
    outline: none;
}

@media (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 15px;
    }

    .toggle-button {
        font-size: 14px;
        padding: 10px;
    }
}